<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
</head>

<body>
    <h1 align="center">Home Page</h1al>

        <table border="0" cellpadding="10" align="center">

            <tr>
                <td><label for="from">From:</label></td>
                <td><input type="text" id="from" name="from" list="locations" placeholder="Enter starting location" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <datalist id="locations">
                    <option value="Koyambedu"></option>
                    <option value="Kelambakkam"></option>
                </datalist>
                </td>
            </tr>
            <tr>
                <td><label for="to">To:</label></td>
                <td><input type="text" id="to" name="to" list="end-locations" placeholder="Enter end location" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <datalist id="end-locations">
                    <option value="Madurai"></option>
                    <option value="Mumbai"></option>
                    <option value="Delhi"></option>
                    <option value="Bangalore"></option>
                    <option value="Kolkata"></option>
                    <option value="Ahmedabad"></option>
                    <option value="Hyderabad"></option>
                    <option value="Kakkavakkam"></option>
                    <option value="Natham"></option>
                    <option value="Pannapakkam"></option>
                    <option value="Thandalam"></option>
                    <option value="Kodaikanal"></option>
                    <option value="Kerala"></option>
                    <option value="Ongole"></option>
                </datalist>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="button">Search</button></td>
            </tr>
        </table>
</body>

</html>