<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>

<body>
    <p align="center">Login to Book a Ticket</p>

    <table border="0" cellpadding="10" align="center">
        <tr>
            <td colspan="2" style="text-align: center;">
                <h2>Login</h2>
            </td>
        </tr>
        <tr>
            <td><label for="username">Enter Username:</label></td>
            <td><input type="text" id="username" name="username" placeholder="Enter username here" required></td>
        </tr>
        <tr>
            <td><label for="password">Enter Password:</label></td>
            <td><input type="password" id="password" name="password" placeholder="Enter password here" required></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <button type="submit">Login</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <p>If you don't have an account, <button type="button" onclick="location.href='signup.html'">Sign Up</button></p>
            </td>
        </tr>
    </table>
</body>

</html>