<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Bus Search Result</title>
</head>

<body>

    <h1 align="center">Book Fast!!!</h1>

    <table border="0" cellpadding="30" align="center">
        <tr>
            <th>Bus Name</th>
            <th>Bus Type (AC / Non-AC)</th>
            <th>Boarding Point</th>
            <th>Dropping Point</th>
            <th>Available Seats</th>
            <th>Total Seats</th>
        </tr>

        <tr>
            <td>Red Bus</td>
            <td>AC</td>
            <td>Koyambedu Main Terminal</td>
            <td>Madurai</td>
            <td>15</td>
            <td>55</td>

        </tr>

        <tr>
            <td>Bharathi Bus</td>
            <td>Non-AC</td>
            <td>Koyambedu Main Terminal</td>
            <td>Banglore</td>
            <td>5</td>
            <td>55</td>
        </tr>

        <tr>
            <td>OrangeBus</td>
            <td>Non-AC</td>
            <td>Koyambedu Main Terminal</td>
            <td>Kerala</td>
            <td>9</td>
            <td>55</td>
        </tr>

    </table>

</body>

</html>