<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Sign Up Page</title>
    <p align="center">Book tickets | fast | simple | secure.</p>
</head>

<body>

    <form th:action="@{/register}" method="post" th:object="${form}" align="center">
        <table border="0" cellpadding="10" align="center">
            <tr>
                <td colspan="2">
                    <h2>Sign Up</h2>
                </td>
            </tr>


            <tr>
                <td><label for="name">Name:</label></td>
                <td><input type="text" id="name" name="name" th:field="*{name}" placeholder="Enter name" required /></td>
            </tr>


            <tr>
                <td><label>Gender:</label></td>
                <td>
                    <input type="radio" id="male" name="gender" value="male" th:field="*{gender}" />
                    <label for="male">Male</label><br />
                    <input type="radio" id="female" name="gender" value="female" th:field="*{gender}" />
                    <label for="female">Female</label>
                </td>
            </tr>


            <tr>
                <td><label for="username">Username:</label></td>
                <td><input type="text" id="username" name="username" th:field="*{username}" placeholder="Enter username" required /></td>
            </tr>


            <tr>
                <td><label for="new-password">New Password:</label></td>
                <td><input type="password" id="new-password" name="new-password" th:field="*{password}" placeholder="Enter new password" required /></td>
            </tr>


            <tr>
                <td><label for="confirm-password">Confirm Password:</label></td>
                <td><input type="password" id="confirm-password" name="confirm-password" th:field="*{confirmPassword}" placeholder="Confirm password" required /></td>
            </tr>


            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" id="email" name="email" th:field="*{email}" placeholder="Enter email" required /></td>
            </tr>


            <tr>
                <td><label for="mobile">Mobile:</label></td>
                <td><input type="tel" id="mobile" name="mobile" th:field="*{mobile}" placeholder="Enter mobile number" required /></td>
            </tr>


            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="submit">Register</button>
                </td>
            </tr>


            <tr>
                <td colspan="2" style="text-align: center;">
                    <p>Already have an account?</p>
                    <button type="button" onclick="location.href='login.html'">Login</button>
                </td>
            </tr>
        </table>
    </form>

</body>

</html>